Source: ros-noetic-depth-obstacle-detect-ros
Section: misc
Priority: optional
Maintainer: Analog Devices <ros@analog.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-camera-info-manager, ros-noetic-catkin, ros-noetic-cv-bridge, ros-noetic-depth-obstacle-detect-ros-msgs, ros-noetic-image-transport, ros-noetic-nodelet, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-depth-obstacle-detect-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-camera-info-manager, ros-noetic-cv-bridge, ros-noetic-depth-obstacle-detect-ros-msgs, ros-noetic-image-transport, ros-noetic-nodelet, ros-noetic-roscpp, ros-noetic-rospy, ros-noetic-std-msgs
Description: A depth based obstacle detection package
